.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 100px;
}

.hero-section-title {
    font-size: 24px;
}

.hero-section-title-text1 {
    color: gray;
}

.hero-section-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-section-right {

}

